################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LevapTech.SimpleMediator/bin/Debug/net8.0
/.vs/SimpleMediator
/LevapTech.SimpleMediator/obj
